:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
}
#root {
  width: 100%;
}
.expenses_page {
  width: 50%;
  padding: 2rem;
}

.budget {
  display: flex;
}
